
#footer {
    margin-top:60px;
}


#file {
    margin-top:10px;
    width:auto;
}

#select-track {
    margin-top:20px;
    margin-bottom:20px;
}

#numbers {
    margin-left:30px;
    width:300px;
    height:20px;
}

#stats {
    margin-left:30px;
}

#play {
    width:80px;
}


#info-div {
    margin-left:20px;
    margin-right:20px;
    width: 90%;
    height:34px;
}
#info {
    margin-left:10px;
    height:24px;
    margin-bottom:8px;
    margin-right: 20px;
    overflow:hidden;
    font-size:18px;
}

#error {
    margin-left:10px;
    margin-bottom:8px;
    margin-top: 10px;

    font-size:22px;
    height:60px;
    margin-bottom:10px;
    color:red;
}



.nval {
    margin-right:20px;
    width:60px;
}


#tweet-span {
    position:relative;
    top:12px;
    margin-left:20px;
    float:right;
}

#stylophone {
    background-image:url(images/stylophone2.jpg);
    width:640px;
    height:387px;
}

#stats {
    display:none;
}

#buttons {
    margin-top:10px;
}

#legend {
    margin-top:20px;
    margin-left:20px;
    font-size:18px;
}

.widget {
}

.figure {
    background-color: #ddd;
    width:85%;

    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
    padding-left:10px;
    border-radius:10px;
    min-width:820px;
}

.caption {
    font-weight:bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
}

#go {
    margin-top:4px;
    margin-right:10px;
}


.icon-paws {
    background-image:url("images/paws.png");
    /*background-position: center center;*/
    background-position: center center;
}
